.list-group-item {
    padding: 1rem 1.5rem;
}

.list-group-item {
    border-bottom: 1px solid #3d5a80;
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item span {
    width: 350px;
    font-size: 1.2rem;
    cursor: pointer;
}

.list-group-item input {
    text-align: center;
    border: 0;
    font-size: 1.2rem;
}

.list-group-item button {
    width: 2rem;
    height: 2rem;
    margin: 3px;
    border: none;
    font-size: 1.1rem;
}

.list-group-item .btn-cookie {
    color: #e89f3e;
}

.list-group-item .btn-trash {
    color: crimson;
}

.list-group-item .fa-heart {
    color: red;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1.1rem;
    line-height: 32px;
    transition: all 0.3s linear;
    transform: translateX(30px);
    opacity: 0;
}

.list-group-item.like .fa-heart {
    opacity: 1;
    transform: translateX(0);
}

.list-group-item.favourite .list-group-item-label,
.list-group-item.favourite .list-group-item-input {
    color: #f88d00;
}

.list-group-item.favourite .btn-star {
    color: #aeaeae;
}